/* Global*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Main */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Actions */

#actions-container {
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.container2 {
    display:flex;
    flex-direction: row;
    gap: 30px
}

#action-reset {
    border-radius: 7px;
    padding: 10px;
    width: 130px;
    font-size: 1em;
    font-family: Calibri;
}

#action-draw {
    all: unset;  
}




/* Cards */
.pioche {
    position: relative;
    width:100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textPioche {
    z-index: -100;
    position: absolute;
}

#cards-container {
    position: relative;
    padding: 0 30px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;    
}

.pioche-card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    z-index: 1;
}

.card {
    width: 100px;
    position: absolute;
    z-index: 1;
}

.pile {
    margin: 50px;
}


/*********************** Navbar *******************/

#navbar ol {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

nav li {
    list-style-type: none;
}

a {
    color: black;
}

.navbarOther ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 3% 0;
}

h1 {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 20%;
}